In [47]:
!pip install contractions

Requirement already satisfied: contractions in c:\users\luis.lavierihernande\anaconda3\envs\py37\lib\site-packages (0.0.48)
Requirement already satisfied: textsearch>=0.0.21 in c:\users\luis.lavierihernande\anaconda3\envs\py37\lib\site-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in c:\users\luis.lavierihernande\anaconda3\envs\py37\lib\site-packages (from textsearch>=0.0.21->contractions) (1.4.1)
Requirement already satisfied: anyascii in c:\users\luis.lavierihernande\anaconda3\envs\py37\lib\site-packages (from textsearch>=0.0.21->contractions) (0.1.7)

In [10]:
import pandas as pd

data = pd.read_csv('Data/training_data.csv', parse_dates=['date'])

data.head()

,sentiment,tweet_id,date,flag,user,tweet
0,0,1467810369,2009-04-06 22:19:45,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,2009-04-06 22:19:49,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,2009-04-06 22:19:53,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,2009-04-06 22:19:57,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,2009-04-06 22:19:57,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [11]:
data = data.replace({'sentiment': '1'}, {'sentiment': 1})
data = data.replace({'sentiment': '0'}, {'sentiment': 0})
data.head()

,sentiment,tweet_id,date,flag,user,tweet
0,0,1467810369,2009-04-06 22:19:45,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,2009-04-06 22:19:49,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,2009-04-06 22:19:53,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,2009-04-06 22:19:57,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,2009-04-06 22:19:57,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [39]:

#url removal
import re

def urlRemover(tweet):
    return re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', tweet)

data['tweet'] = data['tweet'].apply(urlRemover)

data['tweet'].head()

0    @switchfoot  - Awww, that's a bummer.  You sho...
1    is upset that he can't update his Facebook by ...
2    @Kenichan I dived many times for the ball. Man...
3      my whole body feels itchy and like its on fire
4    @nationwideclass no, it's not behaving at all....
Name: tweet, dtype: object

In [43]:
#mentions remover
def mentionRemover(tweet):
    return re.sub(r'@[\d|\w]*', '', tweet)

def hashtagRemover(tweet):
    return re.sub(r'#[\d|\w]*', '', tweet)

data['tweet'] = data['tweet'].apply(mentionRemover)
data['tweet'] = data['tweet'].apply(hashtagRemover)

In [54]:
#contraction fixer
import contractions
contractions.add('shoulda', 'should have')

def contractionFixer(tweet):
    try:
        return contractions.fix(tweet)
    except:
        return tweet

data['tweet'] = data['tweet'].apply(contractionFixer)

In [56]:
#remove unncessary columns
del data['tweet_id']
del data['flag']
del data['user']
del data['date']

In [63]:
#remove punctuation, to lower, and remove extra spaces
import string

table = str.maketrans(dict.fromkeys(string.punctuation))

def fixStr(tweet):
    tweet = tweet.lower().translate(table)
    return ' '.join(tweet.split())

data['tweet'] = data['tweet'].apply(fixStr)

In [64]:
data.head()

   sentiment                                              tweet
0          0  awww that is a bummer you should have got davi...
1          0  is upset that he can not update his facebook b...
2          0  i dived many times for the ball managed to sav...
3          0     my whole body feels itchy and like its on fire
4          0  no it is not behaving at all i am mad why am i...

In [67]:
data.to_csv('Data\\training_data_clean.csv', index=False)

In [89]:
twitter_data = pd.read_csv('Data\\twitter_data_clean.csv')

In [90]:
def deEmojify(text):
    regrex_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return regrex_pattern.sub(r'',text)

twitter_data['tweet'] = twitter_data['tweet'].apply(deEmojify)
twitter_data['tweet'] = twitter_data['tweet'].apply(mentionRemover)
twitter_data['tweet'] = twitter_data['tweet'].apply(hashtagRemover)
twitter_data['tweet'] = twitter_data['tweet'].apply(contractionFixer)
twitter_data['tweet'] = twitter_data['tweet'].apply(fixStr)
twitter_data['tweet']

0        episode 13 crypto thunderdome part 1 prize 50 ...
1        grt chart going off the screen lambo soon btc ...
2        live bitcoin trading with deribot on deribit e...
3        deribot daily trading report 20122020 1107 utc...
4        learned about stellar amp earned xlm in return...
                               ...
25919    just learned about stellar and earned xlm in r...
25920    кто до сих пор не купил vlx время истекает бин...
25921                                         yes atom xlm
25922    if oxt breaks 35 when loom is still 05 i am go...
25923    just learned about stellar and earned xlm in r...
Name: tweet, Length: 25924, dtype: object

In [91]:
twitter_data.to_csv('Data\\twitter_data_clean.csv', index=False)